<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.wencheng.web.ui.Index</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.wencheng.web.ui.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.RegisterAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckName</servlet-name>
    <servlet-class>com.wencheng.web.controller.CheckName</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterCheckUsername</servlet-name>
    <servlet-class>com.wencheng.web.controller.RegisterCheckUsername</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterCheckNumber</servlet-name>
    <servlet-class>com.wencheng.web.controller.RegisterCheckNumber</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.wencheng.web.ui.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProjectInfo</servlet-name>
    <servlet-class>com.wencheng.web.ui.ProjectInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProjectTeam</servlet-name>
    <servlet-class>com.wencheng.web.ui.ProjectTeam</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeamAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.TeamAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Mkcap</servlet-name>
    <servlet-class>com.wencheng.web.controller.Mkcap</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteTeam</servlet-name>
    <servlet-class>com.wencheng.web.controller.DeleteTeam</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Teacher</servlet-name>
    <servlet-class>com.wencheng.web.ui.Teacher</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Fee</servlet-name>
    <servlet-class>com.wencheng.web.ui.Fee</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FeeAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.FeeAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteFee</servlet-name>
    <servlet-class>com.wencheng.web.controller.DeleteFee</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JournalUI</servlet-name>
    <servlet-class>com.wencheng.web.ui.JournalUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JournalEditUI</servlet-name>
    <servlet-class>com.wencheng.web.ui.JournalEditUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JournalAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.JournalAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JournalListAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.JournalListAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditJournalAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.EditJournalAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteJournalAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.DeleteJournalAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ApplicationUI</servlet-name>
    <servlet-class>com.wencheng.web.ui.ApplicationUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowApplicationUI</servlet-name>
    <servlet-class>com.wencheng.web.controller.ShowApplicationUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ApplicationAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.ApplicationAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowApplication</servlet-name>
    <servlet-class>com.wencheng.web.ui.ApplicationShowUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MiddleUI</servlet-name>
    <servlet-class>com.wencheng.web.ui.MiddleUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MiddleAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.MiddleAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MiddleShowUI</servlet-name>
    <servlet-class>com.wencheng.web.ui.MiddleShowUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EndEditUI</servlet-name>
    <servlet-class>com.wencheng.web.ui.EndEditUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EndAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.EndAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EndShowUI</servlet-name>
    <servlet-class>com.wencheng.web.ui.EndShowUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProjectListUI</servlet-name>
    <servlet-class>com.wencheng.web.ui.ProjectListUI</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherRegister</servlet-name>
    <servlet-class>com.wencheng.web.ui.TeacherRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherRegisterAction</servlet-name>
    <servlet-class>com.wencheng.web.controller.TeacherRegisterAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckTeacherUsername</servlet-name>
    <servlet-class>com.wencheng.web.controller.CheckTeacherUsername</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SchoolTeacherList</servlet-name>
    <servlet-class>com.wencheng.web.controller.SchoolTeacherList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>com.wencheng.web.controller.AddTeacher</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JournalPage</servlet-name>
    <servlet-class>com.wencheng.web.ui.JournalPage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OtherProject</servlet-name>
    <servlet-class>com.wencheng.web.ui.OtherProject</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OtherApplication</servlet-name>
    <servlet-class>com.wencheng.web.ui.OtherApplication</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OtherMiddle</servlet-name>
    <servlet-class>com.wencheng.web.ui.OtherMiddle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OtherEnd</servlet-name>
    <servlet-class>com.wencheng.web.ui.OtherEnd</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OtherJournaLlist</servlet-name>
    <servlet-class>com.wencheng.web.ui.OtherJournaLlist</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OtherJournalPage</servlet-name>
    <servlet-class>com.wencheng.web.ui.OtherJournalPage</servlet-class>
  </servlet>














































  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/student/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/registeraction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckName</servlet-name>
    <url-pattern>/register/checkname</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterCheckUsername</servlet-name>
    <url-pattern>/register/checkusername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterCheckNumber</servlet-name>
    <url-pattern>/register/checknumber</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/loginaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectInfo</servlet-name>
    <url-pattern>/student/projectinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectTeam</servlet-name>
    <url-pattern>/student/team</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeamAction</servlet-name>
    <url-pattern>/student/teamaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Mkcap</servlet-name>
    <url-pattern>/student/mkcaptain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTeam</servlet-name>
    <url-pattern>/student/deleteteam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Teacher</servlet-name>
    <url-pattern>/student/teacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Fee</servlet-name>
    <url-pattern>/student/fee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeeAction</servlet-name>
    <url-pattern>/student/feeaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFee</servlet-name>
    <url-pattern>/student/deletefee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JournalUI</servlet-name>
    <url-pattern>/student/journallist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JournalEditUI</servlet-name>
    <url-pattern>/student/journaledit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JournalAction</servlet-name>
    <url-pattern>/student/journalaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JournalListAction</servlet-name>
    <url-pattern>/student/getjournallist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditJournalAction</servlet-name>
    <url-pattern>/student/editjournalaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteJournalAction</servlet-name>
    <url-pattern>/student/deletejournal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplicationUI</servlet-name>
    <url-pattern>/student/application</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowApplicationUI</servlet-name>
    <url-pattern>/student/showapplication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplicationAction</servlet-name>
    <url-pattern>/student/applicationaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowApplication</servlet-name>
    <url-pattern>/student/applicationshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MiddleUI</servlet-name>
    <url-pattern>/student/middle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MiddleAction</servlet-name>
    <url-pattern>/student/middleaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MiddleShowUI</servlet-name>
    <url-pattern>/student/middleshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EndEditUI</servlet-name>
    <url-pattern>/student/end</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EndAction</servlet-name>
    <url-pattern>/student/endaction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EndShowUI</servlet-name>
    <url-pattern>/student/endshow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectListUI</servlet-name>
    <url-pattern>/student/projectlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherRegister</servlet-name>
    <url-pattern>/teacher/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherRegisterAction</servlet-name>
    <url-pattern>/teacher/teacherregisteraction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckTeacherUsername</servlet-name>
    <url-pattern>/student/checkusername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchoolTeacherList</servlet-name>
    <url-pattern>/student/getteacherlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/student/addteacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JournalPage</servlet-name>
    <url-pattern>/student/journalpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherProject</servlet-name>
    <url-pattern>/student/otherproject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherApplication</servlet-name>
    <url-pattern>/student/otherapplication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherMiddle</servlet-name>
    <url-pattern>/student/othermiddle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherEnd</servlet-name>
    <url-pattern>/student/otherend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherJournaLlist</servlet-name>
    <url-pattern>/student/otherjournallist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OtherJournalPage</servlet-name>
    <url-pattern>/student/otherjournalpage</url-pattern>
  </servlet-mapping>
    <filter>
        <filter-name>isLogin</filter-name>
        <filter-class>com.wencheng.web.filter.IsLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>isLogin</filter-name>
        <url-pattern>/student/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.wencheng.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>